<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/memo" method="post">
        <div>
            <input name="memo" placeholder="memo">
            <input name="author" placeholder="author">
            <input type="submit" value="Submit">
        </div>
    </form>

    <ul>
        <li
            th:each="item : ${items}"
            th:text="${item.memo} + ${#strings.isEmpty(item.author) ? '' : ' @' + item.author}">
        </li>
    </ul>
</body>
</html>
